{template 'common/header'}
{php load()->func('tpl')}
<style>
    .field label{float:left;margin:0 !important; width:140px;}
        .page-nav {
			float:left;
            margin: 0 0 0 -1px;
			padding:0;
            width: 100%;
            min-width: 800px;
			height:50px;
        }

        .page-nav > li > a {
            display: block;
        }

        .page-nav-tabs {
            background: #f9f9f9;
        }
        .page-nav-tabs > li {
            line-height: 50px;
            float: left;
            list-style: none;
            display: block;
            text-align: -webkit-match-parent;
        }

        .page-nav-tabs > li > a {
            font-size: 14px;
            color: #666;
			height:50px;
            line-height: 50px;
            padding: 0 10px;
            margin: 0;
            border: 1px solid transparent;
            border-bottom-width: 0px;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
			border-top:0;
        }

        .page-nav-tabs > li > a, .page-nav-tabs > li > a:focus {
            border-radius: 0 !important;
            background-color: #fcfcfc;
            color: #999;
            margin-right: -1px;
            position: relative;
            z-index: 11;
            border-color: #d9edf7;
            text-decoration: none;
        }

        .page-nav-tabs >li >a:hover {
            background-color: #FFF;
        }

        .page-nav-tabs > li.active > a, .page-nav-tabs > li.active > a:hover, .page-nav-tabs > li.active > a:focus {
            color: #576373;
            border-color: #c5d0dc;
            border-top: 2px solid #4c8fbd;
            border-bottom-color: transparent;
            background-color: #FFF;
            z-index: 12;
            margin-top: -1px;
            box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
        }
		.table{border-top:1px solid #d9edf7;}
		.table-hover .navbar-inner tr th{line-height:30px;}
		.status{border-radius:10px;}
</style>

<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">筛选</div>
        <div class="panel-body">
            <form action="./index.php" method="get" class="form-horizontal" role="form" id="form1">
                <input type="hidden" name="c" value="site" />
                <input type="hidden" name="a" value="entry" />
                <input type="hidden" name="m" value="ewei_express" />
                <input type="hidden" name="do" value="Delivery" />
                <input type="hidden" name="id" value="{$reid}" />
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">手机</label>
				<div class="col-sm-8 col-lg-5">
					<input class="form-control" name="mobile" id="" type="text" value="{$_GPC['mobile']}" placeholder="可输入手机号"> 
				</div>                  
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">编号</label>
				<div class="col-sm-8 col-lg-5">
					<input class="form-control" name="code" id="" type="text" value="{$_GPC['code']}" placeholder="可输入编号"> 
				</div>                  
			</div>
			<div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">快递单号</label>
				<div class="col-sm-8 col-lg-5">
					<input class="form-control" name="express_sn" id="" type="text" value="{$_GPC['express_sn']}" placeholder="可输入快递单号"> 
				</div>                  
			</div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">订单生成时间</label>
                    <div class="col-xs-12 col-sm-8 col-lg-3">
						{php echo tpl_form_field_daterange('time', array('starttime'=>date('Y-m-d', $starttime),'endtime'=>date('Y-m-d', $endtime)));}
                    </div>
                </div>
                <div class="form-group">
				<label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label"></label>
                    <div class=" col-xs-12 col-sm-2 col-lg-2">
                        <div class='btn-group'>
                        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        <!--<input type="submit" name="export" value="导出数据" class="btn btn-primary">-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-info">
<ul class="page-nav page-nav-tabs">
	<li>
	<a href="{php echo $this->createWebUrl('Delivery', array('id' => $reid))}">全部记录({$list_total})</a>
	</li>
	<li {if $status == '等待称重计费'}class="active"{/if}>
	<a href="{php echo $this->createWebUrl('Delivery', array('status' => '等待称重计费','id' => $reid))}">待称重({$list_count_0})</a>
	</li>
	<li {if $status == '等待付款'}class="active"{/if}>
	<a href="{php echo $this->createWebUrl('Delivery', array('status' => '等待付款', 'id' => $reid))}">待付款({$list_count_1})</a>
	</li>
	<li {if $status == '送货中'}class="active"{/if}>
	<a href="{php echo $this->createWebUrl('Delivery', array('status' => '送货中', 'id' => $reid))}">送货中({$list_count_2})</a>
	</li>
	<li {if $status == '已完成'}class="active"{/if}>
	<a href="{php echo $this->createWebUrl('Delivery', array('status' => '已完成', 'id' => $reid))}">已完成({$list_count_3})</a>
	</li>
</ul>
        <div class="panel panel-defaul">
            <form action="" method="post" onsubmit="">
                <table class="table table-hover">
                    <thead class="navbar-inner">
						<tr>
							<th style="width:20px;">ID</th>
							<th style="width:50px;">状态</th>
							<th style="width:50px;">编号</th>
							<th style="width:100px;">收件人信息</th>
							<th style="width:50px;">派送时间</th>
							<th style="width:50px;">重量</th>
							<th style="width:50px;">费用</th>
							<th style="width:50px;">支付方式</th>
							<th style="width:150px;">微信支付单号</th>
							<th style="width:100px;">订单时间</th>
							<th style="width:150px;">备注</th>
						</tr>
                    </thead>
                    <tbody>
				{loop $list $item}
				<tr>
					<td>{$item['id']}</td>
					<td id="status_{$item['id']}">{if $item['status'] == '已完成'}<span class="label label-success">已完成{/if}{if $item['status'] == '送货中'}<span class="label label-info">送货中{/if}{if $item['status'] == '等待付款'}<span class="label label-primary">等待付款{/if}{if $item['status'] == '等待称重计费'}<span class="label label-default">等待称重计费{/if}</span></td>
					<td>{$item['code']}</td>
					<td>{$item['username']}|{$item['usertel']}|{$item['building']}-{$item['room']}</td>
					<td>{$item['deliverytime']}</td>
					<td id="weight_{$item['id']}">{$item['weight']}</td>
					<td id="fee_{$item['id']}">{if $item['price'] == ''}<a href="javascript:void(0)" onclick="InputWeight({$item['code']},{$item['id']})" class="btn btn-default"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></a>{else}{$item['price']}{/if}</td>
					<td>{if $item['paytype'] == 'wechat'}<span class="label label-success">微信支付{/if}{if $item['paytype'] == 'credit'}<span class="label label-primary">余额支付{/if}</span></td>
					<td>{$item['transid']}</td>
					<td>{$item['createtime']}</td>
					<td>
						<span class="remark">{if $item['remark'] == ''}<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{else}{$item['remark']}{/if}</span>
						<span class="textInput" style="display: none;">
							<input type="hidden" name="id" value="{$item['id']}">
							<input name="remark" type="text" value="{$item['remark']}">
							<span class="glyphicon glyphicon-ok" id="PostRemark"></span>
						</span>
					</td>
				</tr>
				{/loop}
                    </tbody>
                </table>
            </form>
            {$pager}
        </div>
    </div>
</div>
<script type="text/javascript">
	require(['daterangepicker'], function($){
		$('.daterange').on('apply.daterangepicker', function(ev, picker) {
			$('#form1')[0].submit();
		});
	});
	
	function InputWeight(code,id){
		weight = prompt('请输入包裹*'+code+'(体积)重量kg：');
		if(!isNaN(weight) && weight > 0){
			if(weight <= 3){
				fee = 1;
			}else{
				var weight2 = weight.split(".");
				if(weight2[1] > 0.5){
					weight2[1] = 1;
				}else{
					weight2[1] = 0;
				}
				fee = (parseInt(weight2[0]) + parseInt(weight2[1]) - 3) * 0.5 + 1
				if(fee > 10){fee = 10;}
			}
			$.post('index.php?c=site&a=entry&m=ewei_express&do=Delivery&ajax=price',{weight:weight,fee:fee,id:id},function(data){
				if(data){
					$('#weight_'+id).text(weight);
					$('#fee_'+id).text(fee);
					$('#status_'+id).html('<span class="label label-primary">等待付款</span>');
				}else{
					alert('提交失败，请检查网络。');
				}
			})
		}else{
			alert('输入不合法');
		}
	}
	
	$(function(){
		$(".remark").click(function(){
			$(this).hide();
			$(this).next().fadeIn('slow');
		})
		$("#PostRemark").click(function(){		
			var thisRemark = $(this);
			var remark = thisRemark.parent().find('input[name="remark"]').val();
			var id = thisRemark.parent().find('input[name="id"]').val();
			$.post('index.php?c=site&a=entry&m=ewei_express&do=Delivery&ajax=remark',{value:remark,id:id},function(data){
				if(data){
					thisRemark.parent().hide();
					if(remark == ''){
						remark = '<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>';
					}
					thisRemark.parent().prev().html(remark).fadeIn();
				}else{
					alert('提交失败，请检查网络。');
				}
			})
		})
	})
</script>
{template 'common/footer'}
