<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>建工裹裹物流服务平台</title>
    <link rel="stylesheet" href="../app/resource/pintu/pintuer.css">
    <script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
    <script src="../app/resource/pintu/pintuer.js"></script>

</head>
<body class="bg">
<div class="layout doc-header">
	<div class="navbar bg-blue bg-inverse">
		<ul class="nav nav-inline nav-menu nav-tabs clearfix">
			<li class="nav-head">快递查询</li>
		</ul>
	</div>	
	
	<div class="padding">
		<form method="post" class="form-inline">
			<div class="form-group">
				<div class="label">
					<label for="code">
						请输入编号</label>
				</div>
				<div class="field">
					<input type="text" class="input" id="code" name="code" size="20" placeholder="编号"/>
				</div>
			</div>
			<div class="form-group">
				<div class="label">
					<label for="express_sn">
						or 运单号</label>
				</div>
				<div class="field">
					<input type="text" class="input" id="express_sn" name="express_sn" size="20" placeholder="运单号"/>
				</div>
			</div>
			<div class="form-button">
				<button class="button button-big button-block" type="submit">
					查询</button>
			</div>
		</form>
	</div>
	
	
    <div class="border-top padding-top" style="height:100px">
        <div class="text-center">
            版权所有 ©  建工裹裹物流服务平台 All Rights Reserved.</div>
    </div>
	
	<div class="fixed" data-style="fixed-bottom" data-offset-fixed="10" style="position:fixed;bottom:0px;">
		<div class="button-group button-group-justified" style="z-index: 9;background: #f4f4f4">
			<a href="index.php?i=6&c=entry&do=TaskList&m=ewei_express" class="button"><span class="icon-tasks  text-large"></span><br>派送任务</a>
			<a href="index.php?i=6&c=entry&do=PackageSearch&m=ewei_express" class="button text-main"><span class="icon-search  text-large"></span><br>查询快递</a>
		</div>
	</div>
	
</div>
</body>
</html>